<CTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <title>Eyes of Github</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- 引入 Bootstrap -->
        <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

        <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
        <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body style="background-color:black">
    <div class="container">
<div class="row clearfix">
    <div class="col-md-3 column">
        <h2 class="text-center" >
            <a  href="/" class="text-muted" ><strong>  Search </strong> </a>
        </h2>
    </div>
    <div class="col-md-3 column">
        <h2  class="text-center" class="text-primary">
            <a  href=" "><strong>  Relations </strong></a>
        </h2>
    </div>
    <div class="col-md-3 column">
        <h2 class="text-center" >
            <a class="text-muted" href=" "><strong>  Results  </strong> </a>
        </h2>
    </div>
    <div class="col-md-3 column" >
        <h2 class="text-center" >
            <a  class="text-muted" href="/about_us"><strong>  About Us  </strong> </a>
        </h2>
    </div>
</div>
</div>
<div class="row clearfix">
    <label for="name">  <font color=#000000 size="4px"> <big> Ne te quaesiveris extra</big> </font></label>
</div>


<div class="row clearfix">
    <div class="text-center">
    <label for="name" al>  <font color=#FFFFFF size="4px"> <big> NEW FEATURE IS COMING SOON </big> </font></label>
    </div>
</div>

<div class="row clearfix">
    <div class="col-md-1 column">
    </div>
    <div id="test" class="col-md-10 column" >
        <center>
        <img src="http://img.blog.csdn.net/20161016095845966"/>
        </center>
    </div>
    <div class="col-md-1 column">
    </div>
</div>
<script src="./relations.js"> </script>

</body>
</html>
