<CTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Bootstrap 模板</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- 引入 Bootstrap -->
      <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

      <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
      <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
   </head>
   <body style="background-color:black">
<div class="container”>
	<div class="row clearfix">
		<div class="col-md-4 column">
			<h2 class="text-right class="text-primary" >
				<a  href=" "><strong>  Search </strong> </a>
			</h2>
		</div>
		<div class="col-md-4 column">
			<h2  class="text-center" >
				<a class="text-muted"  href=" "><strong>  Relations </strong></a>
			</h2>
		</div>
		<div class="col-md-4 column">
			<h2 class="text-left">
				<a class="text-muted" href=" "><strong>  Results  </strong> </a>
			</h2>
		</div>
	</div>
	<div class="row clearfix">
				<div class="col-md-12 column">
				</div>
				<label for="name"> <big> </big> </label>
				</div>
	<div class="row clearfix">
				<div class="col-md-12 column">
				</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-4 column">
		</div>
		<div class="col-md-4 column">
			<center>
			<img alt="800x800" src="http://img3.imgtn.bdimg.com/it/u=2476777131,425348790&fm=21&gp=0.jpg" class="img-circle" />
			</center>
		</div>
		<div class="col-md-4 column">
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-6 column"> 
		</div>
		<div class="col-md-2 column">
				<form role="search">
                                                <div class="form-group form-center">
                                                <input type="text" class="form-control" placeholder="Github Username"> 
                                                </div>
                                        </form> 	
		</div>
		<div class="col-md-4 column">
                </div>
			</nav>
		</div>
	</div>
</div>
	<div class="row clearfix">
		<div class="col-md-2 column">
		</div>
		<div class="col-md-8 column">
			<form role="form">
  				<div class="form-group">
    					<label for="name"> <big> Discription:</big> </label>
    					<textarea class="form-control" rows="3" placeholder="Discription"></textarea>
  				</div>
			</form>
		</div>
		<div class="col-md-2 column">
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-9 column">
		</div>
		<div class="col-md-1 column">
		<div class="container">
		<button type="button" class="btn">search</button>
		</div>
		<div class="col-md-2 column">
		</div>
	</div>
</div>
   </body>
</html>

