<CTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Bootstrap 模板</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- 引入 Bootstrap -->
      <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

      <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
      <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
   </head>
   <body style="background-color:black">
<div class="container">
	<div class="row clearfix">
		<div class="col-md-4 column">
			<h2 class="text-right" class="text-primary" >
				<a  href=" "><strong>  Search </strong> </a>
			</h2>
		</div>
		<div class="col-md-4 column">
			<h2  class="text-center" >
				<a class="text-muted"  href=" "><strong>  Relations </strong></a>
			</h2>
		</div>
		<div class="col-md-4 column">
			<h2 class="text-left">
				<a class="text-muted" href=" "><strong>  Results  </strong> </a>
			</h2>
		</div>
	</div>

	<div>
		<label for="name">  <font color=#000000 size="4px"> <big> Discription:</big> </font></label>
	</div>

	<div class="row clearfix">
		<div class="col-md-4 column">
		</div>
		<div class="col-md-4 column">
			<center>
			<img src="github_logo.png" class="http://c.hiphotos.baidu.com/zhidao/pic/item/f7246b600c33874441158294590fd9f9d62aa002.jpg" widht="290" height="290"/>
			</center>
		</div>
		<div class="col-md-4 column">
		</div>
	</div>
	<div class="row clearfix">
	</div>
</div>

	<div class="row clearfix">
		<div class="col-md-5 column">
		</div>
			<form role="form" action="/search_similar_repo" method="POST" align=center>
				<div class="col-md-2 column">
					<div class="form-group form-center" >
						<input name="text_username" type="text" class="form-control" placeholder="Github Name">
					</div>
				</div>
				<div class="col-md-5 column">
				</div>
				<div class="row clearfix">
					<label for="name">  <font color=#000000 size="4px"> <big> Description:</big> </font></label>
				</div>
				<div class="col-md-3 column">
				</div>
				<div class="col-md-6 column">
					<div class="form-group">
						<label for="name">  <font color=#FFFFFF size="4px"> <big> Description:</big> </font></label>
							<textarea name="text_discription"class="form-control" rows="5" placeholder="After filling in description for what code you are looking for,you will get your satisfying answers." ></textarea>
					</div>
				</div>
				<div class="col-md-3 column">
				</div>
				<div class="col-md-8 column">
				</div>
				<div class="col-md-1 column">
				<button type="submit" class="btn btn-default btn-block">SEARCH</button>
				</div>
				<div class="col-md-3 column">
				</div>

		</form>
			<div class="col-md-3 column">
			</div>
     </div>
                        </nav>
	</div>

   </body>
</html>

